

.form-container {
    background-color: #1e293b;
    padding: 24px;
    padding-top: 32px;
    width: 450px; 
    box-sizing: border-box;
    

    margin-left: auto;
    margin-right: auto;

}

.form-container h2 {
   
    color: #f1f5f9; 
    margin-top: 0;
    margin-bottom: 24px;
    text-align: center;
    font-size: 1.5rem;
}

.form-group label {
  
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #cbd5e1; /* Cinza claro */
}

.form-group input,
.form-group select {

    background-color: #334155; /* Fundo do input mais claro que o modal */
    color: #f1f5f9; /* Texto claro no input */
    border: 1px solid #475569; /* Borda leve */
    border-radius: 6px;
    font-size: 1rem;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}

.form-group input:focus,
.form-group select:focus {
  
    outline: 2px solid #a78bfa; /* Roxo mais claro para contraste */
    border-color: #a78bfa;
}

.form-actions {
   
    border-top: 1px solid #334155; 
    padding-top: 20px;
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}


.form-error-message {
    color: #fca5a5; 
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.btn-primary {
    background-color: #4f46e5; 
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    width: auto; 
}
.btn-primary:hover {
    background-color: #4338ca;
}

.btn-secondary {
    background-color: #64748b; 
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    width: auto;
}
.btn-secondary:hover {
    background-color: #475569;
}