NODE_ENV=development

# JWT
JWT_SECRET=SECRET
JWT_EXPIRES=12h

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:PASSWORD@localhost:3306/database"
DATABASE_USER=root
DATABASE_PASSWORD=PASSWORD
DATABASE_NAME=database
DATABASE_HOST=localhost
DATABASE_PORT=3306